@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Common Style */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.max-width-1 {
    max-width: 1140px;
    margin: 0 auto;
}
.display-flex {
    display: flex;
}
.dark-3 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.color-orange {
    color: #E95A08;
}
.image-width {
    max-width: 100%;
    height: auto;
}
.font-s50-b {
    font-size: 3.125rem;
    font-weight: bold;
}
.primary-btn {
    color:white;
    width: 100%;
    padding: 19px 0;
    background-color: #E95A08;
    font-weight: 700;
    border: none;
}

/* ---Header style */

/* Navbar style */

.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.navbar ul {
    gap: 30px;
}
.navbar ul li{
    list-style: none;
}
#dark-2 {
    color: #252432;
    font-weight: 700;
}
#dark-22 {
    color: #252432;
    font-weight: 600;
}
.navbar ul li a {
    text-decoration: none;
    color: #8987A1;
}

/* Banner Container */

.banner {
    margin-top: 120px;
}
.banner-parent {
    gap: 10px;
    align-items: flex-end;
}
.banner-container {
    flex: 1;
}
.banner-container h1 {
    font-size: 4.0625rem;
    font-weight: bold;
    margin-bottom: 13px;
}
.banner-container img {
    margin-top: 106px;
    display: block;
}

/* plants style */

.plants {
    margin-top: 120px;
}
.plants-container-title {
    text-align: center;
    margin-bottom: 50px;
}
.plants-container-title h2 {
    margin-bottom: 16px;
}
.plants-container-title p {
    max-width: 890px;
    margin: 0 auto ;
}
.plants-container-card {
    max-width: 16.875rem;
    text-align: center;
}
.plants-container-card img {
    margin-bottom: 30px;
}
.flower-name-card {
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.flower-price {
    font-size: 1.375rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.plants-card-parent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-bottom: 210px;
}

/* flower lover style section-2 */

.flower-lover {
    margin-bottom: 130px;
}
.flower-lover-parent {
    gap: 50px;
    align-items: center;
}
.flower-lover-title {
    max-width: 540px;
}
.flower-lover-title ul {
    padding-left: 40px;
}
.flower-lover-title ul li {
    margin-top: 20px;  
}
.trusted-badge {
    position: relative;
}
.trusted-img {
    animation: rotateimage 5s linear infinite ;
    max-width: 286px;
    position: absolute;
    top: -130px;
    right: -85px;
}
@keyframes rotateimage {
    0%{ 
        transform: rotate(0deg);
    }
    100%{ 
        transform: rotate(360deg); 
    }
}

/* deals style section-3 */

.deals-title {
    margin-bottom: 120px;
    text-align: center;
}
.deals-title h2 {
    margin-bottom: 16px;
}
.deals-container-image {
    gap: 28px;
}
.deals-items {
    flex-direction: column;
    gap: 30px;
    width: 32%;
}
.deals {
    margin-bottom: 120px;
}
.deals-container-image a {
    color: white;
    margin-top: 19px;
    display: block;
}
.deals-bgc {
    background-repeat: no-repeat;
    border-radius: 14px;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 65px 52px;
    background-position: center;
    background-size: cover;
}
.deals-bgc1 {
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/assets/deal-bloom.png);
}
.deals-bgc2 {
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/assets/deal-ana.png);
}
.deals-bgc3 {
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/assets/deal-zabo.png);
    font-size: 2.5rem;
    width: 66%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
u {
    margin-top: 19px;
}

/* Join style section-4 */

.join {
    background-image: url(/assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.join-parent {
    padding: 200px 0;
}
.join-title {
    text-align: center;
}
.join-title h2 {
    font-size: 3.125rem;
    font-weight: bold;
    color: white;
    margin-bottom: 23px;
}
.join-content {
    justify-content: center;
}
.join-content input {
    padding: 16px ;
    width: 550px;
    font-size: 16px;
    border: none;
}
.join-btn {
    color:white;
    padding: 19px 53.5px;
    background-color: #E95A08;
    font-weight: 700;
    font-size: 16px;
    border: none;
}
@media screen and (max-width: 576px){

    /* header style */

    .nav-item {
        display: none;
    }
    .navbar {
        margin: 15px;
    }
    .navbar > img {
        max-width: 30%;
        height: auto;
    }
    .banner-parent {
        flex-direction: column-reverse;
    }
    .banner-container img {
        margin-top: 0;
    }
    .banner {
        margin-top: 30px;
    }
    .banner-title {
        margin: 16px;
    }
   .banner-container h1,
   .plants-container-title h2,
   .flower-lover-title h2,
   .deals-title h2,
   .join-title h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 13px;
    }
    .banner-container p,
    .plants-container-title p,
    .flower-lover-title ul,
    .deals-title p {
    /* font-size: 0.875rem; */
        font-size: 1rem;
    }

    /*  plants style section-1 */

    .plants {
        margin-top: 52px;
    }
    .plants-container-title p,
    .deals-title p {
        max-width: 336px;
        margin: 0 auto;
    }
    .plants-container-title {
        margin-bottom: 28px;
    }
    .plants-card-parent {
        grid-template-columns: repeat(2,1fr);
        row-gap: 28px;
    }
    .plants-card-parent {
        margin: 0 14px;
    }
    .flower-name-card {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .flower-price {
        font-size: 1rem;
    }

    /* flower lover style section-2 */

    .trusted-img,.lover {
        display: none;
    }
    .flower-lover-parent {
        flex-direction: column;
        margin: 40px 16px;
        gap: 20px;
    }

    /* Deals style section-3 */

    .deals-container-image {
        flex-direction: column;
        margin: 0 16px;
    }
    .deals-items,
    .deals-bgc3 {
        width: 100%;
    }
    .deals-bgc3 {
        font-size: 1.25rem;
    }
    .deals-title {
        margin-bottom: 50px;
    }

    /* join style section-4  */

    .join-title h2 {
        margin-bottom: 23px;
    }
    .join-parent {
        padding: 110px 36px 65px;
    }
    .join-btn {
        padding: 19px 12px;
    }
    .deals {
    margin-bottom: 40px;
    }
}